{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form Test Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Custom CSS -->
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <h1>
                Automation Testing for Dynamic/Adaptive GUI Interfaces using Playwright
            </h1>
        </div>
        <div>
            <nav>
                <input type="checkbox" id="menu-toggle" />
                <label for="menu-toggle" class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <ul class="menu">
                    <li><a href="#">Home</a></li>
                    <li><a href="{% url 'test_website' %}">Login Test</a></li>
                    <li><a href="#">Page Navigation Test</a></li>
                    <li><a href="{% url 'logout' %}">Log Out</a></li>
                </ul>
            </nav>
        </div>

        <div class="container">
            <form id="linkForm" method="post" action="{% url 'run_tests' %}">
                <h2 style="color:red;">Submit Links for Form Test</h2>
                {% csrf_token %}
                <div id="link-inputs" class="scrollable-container">
                    <div class="input-group1">
                        <span class="input-number">1.</span>
                        <input type="url" name="url[]" placeholder="Enter link" required />
                        <input type="text" name="username[]" placeholder="Enter username" required />
                        <input type="password" name="password[]" placeholder="Enter password" required />
                        <button type="button" id="add-more" class="add-btn">+</button>
                    </div>
                </div>
                <button type="submit" class="submit-btn">Submit Links</button>
            </form>
        </div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
